:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 430;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.859);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1e29ec;
  text-decoration: inherit;
}
a:hover {
  color: #141a91;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  position: sticky;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 7px;
  border: 1px solid transparent;
  padding: 0.4em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.edit-btn{
  background-color: rgb(17, 177, 17);
  color: #ffffff;
}
.edit-btn:hover {
  background-color: rgb(0, 0, 0);

}

.delete-btn{
  background-color: rgb(219, 56, 27);
  color: #ffffff;
}

.delete-btn:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

th, td{
  padding-left: 70px;
  padding-right: 70px;
}

.submit-btn{
  background-color: #2731f0;
  color: #ffffff;
}

.submit-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.input-field{

  height: 42px;
  margin: 90px;
  border: black, solid;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 30px;
}
:placeholder-shown{
  margin-left: 8px;
}

.input-field::placeholder{
  margin-left: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #7ab5e9;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fffefe;
  }
}
